<% provide(:title, "About")	%>
<style>
	fieldset p {
  	clear: both;
  	padding: 5px;
  }
</style>
</br>
<h1>About</h1>
<section>
  <img src="../assets/field_sheep2.jpg" />
  <h3>Local knowledge and local connections</h3>
  <p></br>We have set up Farm To City with a firm commitment to providing local 
  produce from suppliers we know and trust. We wouldn't have it any other way.</p>
</section>

	   <section>
	      <img src="../assets/harvesting_carrots2.jpg" />
	      <h3>Only when it's ready</h3><br>
	       <p>We have gone into business with a firm commitment to 
	       freshness for all our products. That means you pay for fresh, not frozen.
		   </p>
	   </section>
	   <section>
	      <img src="../assets/apple_picker2.jpg" />
	      <h3>Supporting employment</h3><br>
	       <p>Farm to City is a startup enterprise with a big reach. By sourcing locally we are helping to secure the jobs of our suppliers and their employees.
		    
		   </p>
	   </section>
	  
	  
	  
<section class="aboutMain">
	
	<div id="about1">
	<h3></br>What we're all about . . .</h3>
	<iframe width="90%" height="250" 
	src="https://www.youtube.com/embed/0kbw_WWkK_M" 
	frameborder="0" allowfullscreen
	></iframe>
	</div>

	
	<aside id="about2">
	  <div class="content">
	  <h3>We would love to know a little bit more about you!</h3>
	  <form name="survey" action="mailto:example@gmail.com" method="get" onSubmit="return validation1()">
	   <fieldset>
	    <legend>Please add your details and we'll be in touch!</legend>
		<p>Name:<input type="text" size="20" maxlength="12" id="name" />&nbsp;</p>
		<p>Email:<input type="text" size="20" maxlength="50" id="email" />&nbsp;</p>
		<p>Age:<input type="text" size="20" maxlength="2"/>&nbsp;</p>
		<p>Sex:<input type="text" size="20" maxlength="1" id="sex"/>&nbsp;</p>
		<p>I am happy to receive news and updates from Farm to City<input type="checkbox" size="20" maxlength="8" id="check" />&nbsp;</p>
		<input type="submit" class="specialBtn" value="Submit" id = "submitForm"/><input class="specialBtn" type="reset" /></p>
		</submit>
		<p>
		Please click on the button below to take a quick survey.
		</p>
		<button class="specialBtn" type="button" id="survey"> Survey</button>
	   </div> 
	   </fieldset>
	  </form>
	</aside>
	
	
</section>


<div id="triple"></div> 

	 	   <section>

	   	   <img src="../assets/location.png" />
	   	   <h3>Fresh and straight to your door!</h3>
	   	   <p>Here at Farm to City we pride ourselves on the three things we deliver: fresh fruit, fresh vegetables and convenience. We are passionate about getting quality products to everyone who is as excited about freshness as we are!</p>
	   	</section>
	   	<section>
	   	   <img src="../assets/check.png" />
	   	   <h3>Quality Assured</h3>
	   	   <p>At Farm to City we have partnered with farmers throughout Ireland who are committed to growing delicious produce in a sustainable way. We know all our suppliers intimately and can guarantee the produce we deliver to you.</p>
	   	</section>
	   	<section>
	   	   <img src="../assets/community.png" />
	   	   <h3>Dealing with a friendly face</h3>
	   	   <p>Whether you want to deal with us through our website, via email or over the phone, you'll always find us happy to help and ensure your order is delivered how you wish. It's what we're here for!</p>

	  </section>
