<% provide(:title, "Home") %>
<div id="content">
  <div class="blueberry">
  	<img src="../assets/farm_to_city2.jpg" name="Rotating" id="Rotating1" >
	<script type="text/javascript"> RotateImages(1,0); </script>
  </div>
</div>
<div class="sliderText">
  <section id="s1">
    <div > 
      <p style="text-align:justify;"><h4>Welcome to Farm to City</h4>Welcome 
      to Website that aims to bring the very best of the outdoors to your table!
	  We work hard to bring you fresh produce delivered straight to your 
	  door, at a time convenient to you. Please take a look around at our 
	  fresh produce</div>
  </section>
  <section id="s2">
    <div ></br><h4>We offer a huge selection</h4>
      - Seasonal Fruit;<br>
	  - Seasonal Vegetables;<br>
	  - Coming Soon! Organic Seasonal Fruit.<br></p>
	</div>
  <section>
</div>
<div class="clear"></div>
<section>
	<img src="../assets/vegetables.jpg" />
	<h3><%= link_to "Vegetables", category_path(1), class: "specialA" %></h3>
	<p>Stay heart healthy with our great selection of fresh vegetables.
	  <ul>
	    <li>Legumes</li>
	    <li>Root Vegetables</li>
	    <li>Leafy Greens</li>
        <li>Tubers</li>
	  </ul>
	</p>
</section>
<section>
    <img src="assets/herbs-200px.jpg" />
	<h3><%= link_to "Herbs", category_path(2), class: "specialA" %></h3>
	<p>Traditional local fruit from traditional local fruit growers! Hungry yet?<br>
      <ul>
        <li>Thyme</li>
        <li>Sage</li>
	    <li>Rosemary</li>
	  </ul>
	</p>
</section>
<section>
    <img src="../assets/seasonal_fruit2.jpg" />
    <h3><%= link_to "Seasonal Fruit", category_path(3), class: "specialA" %></h3>
	<p>Seasonal berries picked at their ripest.<br><br>
	  <ul>
	    <li>Strawberries</li>
	    <li>Blackcurrants and Redcurrants</li>
		<li>Blueberries</li>
		<li>Raspberries</li>
	  </ul>
	</p>
</section>
<section>
  	<img src="../assets/location.png" />
	<h3>Fresh and straight to your door!</h3>
	<p>Here at Farm to City we pride ourselves on the three things we deliver: 
	fresh fruit, fresh vegetables and convenience. We are passionate about 
	getting quality products to everyone who is as excited about freshness 
	as we are!</p>
</section>
<section>
	   	   <img src="../assets/check.png" />
	   	   <h3>Quality Assured</h3>
	   	   <p>At Farm to City we have partnered with farmers throughout Ireland 
	   	   who are committed to growing delicious produce in a sustainable way. 
	   	   We know all our suppliers intimately and can guarantee the produce we 
	   	   deliver to you.</p>
</section>
<section>
		<img src="../assets/community.png" />
	  <h3>Dealing with a friendly face</h3>
	  <p>Whether you want to deal with us through our website, via email or over 
	  the phone, you'll always find us happy to help and ensure your order is
	  delivered how you wish. It's what we're here for!</p>
</section>
<footer>
<section>
	<ul class="social">
		<li><a href="#"><img src="../assets/facebook1.png" /></a></li>
		<li><a href="#"><img src="../assets/google_plus.png" /></a></li>
	 	<li><a href="#"><img src="../assets/twitter.png" /></a></li>
	 	<li><a href="#"><img src="../assets/youtube1.png" /></a></li>
	</ul>
</section>
<section>
	<p><b>Call us on:</b><br>(01) 449 8500</br></p>
</section>
<section>
	 <p><b>Email:</b><br>admin@farmtocity.ie</br></p>
</section>
</footer>




